<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="BDConnection" connectionString="Data Source=PABLO-PC\SQLEXPRESS;Initial Catalog=Campo2017_VentaPasajes;Integrated Security=True"/>
    <!--add name="BDConnection" connectionString="Data Source=.\SQL14_UAI;Initial Catalog=Campo2017_VentaPasajes;Integrated Security=True"/-->
    <!--add name="BDConnection" connectionString="Data Source=HP;Initial Catalog=Campo2017_VentaPasajes;Integrated Security=True"/-->
  </connectionStrings>
</configuration>