<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <clear/>
    <add name="BDConnection" connectionString="Initial Catalog=Diploma2017_VentaPasajes;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>